h1 {
  font-size: 1em;
}

img {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.card-div {
  text-align: center;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px dotted #000;
  background: lightblue;
  color: #000;
  margin-bottom: 1em;
}
